* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 152, 88);
  background: linear-gradient(
    90deg,
    rgba(255, 152, 88, 0.5971638655462185) 0%,
    rgba(252, 249, 7, 0.2806372549019608) 100%
  );
}

h1,
h2 {
  font-size: 1.4rem;
  font-family: "Monoton", cursive;
  background: -webkit-linear-gradient(rgb(68, 109, 155), rgb(12, 175, 61));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.header {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addForm {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.item {
  display: flex;
  width: 400px;
  flex-direction: column;
  list-style: none;
  padding-top: 10px;
  margin: 20px;
  background-color: white;
  margin: 10px auto;
}

.itemHeader {
  display: flex;
  gap: 10px;
  padding: 0px 20px;

  align-items: center;
  justify-content: space-between;
}

.itemBody {
  display: flex;
  background-color: rgba(225, 180, 250, 0.286);
  padding: 20px 10px;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemBody > p {
  padding: 5px 10px;
}

.inputField {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.textareaField {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0px;
}

.textForm {
  display: flex;
  flex-direction: column;
}

.labelTextfield {
  margin-top: 20px;
}

label,
input,
textarea {
  display: block;
}

.btnSubmit {
  width: 100px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10%;
  border: none;
  padding: 10px 20px;
  background-color: rgb(7, 92, 25);
  color: white;
}

.btnSubmit:hover {
  color: #fff;
  background-color: rgb(3, 151, 35);
}

.btnDelete {
  margin-left: 10px;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 20%;
  border: none;
  color: red;
  background: none;
}

.btnForm {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnFormAdd {
  background: rgb(29, 132, 2);
  background: linear-gradient(
    90deg,
    rgba(29, 132, 2, 1) 0%,
    rgba(4, 112, 106, 1) 100%
  );
}

.btnFormHide {
  background: rgb(185, 149, 0);
  background: linear-gradient(
    90deg,
    rgba(185, 149, 0, 1) 0%,
    rgba(141, 3, 3, 1) 100%
  );
}
